*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background-color: #263238 !important;
  overflow-y: scroll;
}

body {
  background-color: #263238 !important;
  padding-left: 300px;
}

div {
  color: white;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  text-align: center;
  color: #009688;
}
p{
  text-align: center;
  color: white;
}

a:hover {
  color: white;
  cursor: pointer;
}

#histBtn, #liveBtn {
  width: 200px;
}

#buyBtn, #sellBtn {
  width: 100px;
}

.selectScreen {
  display: inline;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered a {
  margin: 20px;
}


.modal.modal-fixed-footer {
  position: fixed;
  top: 50%;
  left: 0%;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 50%;
  }
}
