  <!-- detailed candlestick chart would be loaded here -->


<div class="row">
        <p>You are viewing {{stockObj.Symbol}}</p>
        <p>You have {{ CurrentPortfolioMoney | currency}}</p>
         <p>You have {{ Shares }}</p> 
</div>
<div class="row">
        <p>Price : {{currentPrice | currency}} per share</p>
</div>
<div class="row">

<line-chart config='linechart'>
</line-chart>

  <!-- detailed candlestick chart would be loaded here -->

<stock-chart config='stockchart'>
</stock-chart>

</br>
</br>

<div class="row">
    <div id="#buyBtn" class="col s2 light-green btn" ng-click="buyStock()">Buy</div>
    <div class = "input-field col s2">
   		<input id = "sharesBuy" type = "number" min ="1" class = "validate">
   		<label for = "sharesBuy">Shares</label>
    </div>
    <div class="col s1"></div>
    <div id="#sellBtn" class="col s2 red btn" ng-click="sellStock()">Sell</div>
    <div class = "input-field col s2">
   		<input id = "sharesSell" type = "number" min ="1" class = "validate">
   		<label for = "sharesSell">Shares</label>
    </div>
</div>
<div class="row">
    <a id="#watchStock" ng-click="watchStock()"><i class="material-icons prefix">star</i>Add to Watchlist</a>
</div>
<div class="row">
    <!-- the ^ below refers to the parent of current state -->
    <!--{{stockReal.LastPrice}} -->
    <a ui-sref="^">Back to Market</a>
</div>
