<div class="row"></div>
<div class="row">
	<div class="col s4">
		<div class="chip">
		      Portfolio Balance: <a class="green-text">{{ CurrentPortfolioMoney | currency}}</a>
		</div>
	</div>
	<div class="col s4">
		<div class="chip">
		      You own <a class="orange-text">{{ Shares }}</a> shares of {{stockObj.Symbol}}
		</div>
	</div>
	<div class="col s4">
		<div class="chip">
		     Price : <span class="red-text" ng-bind="currentPrice"></span> per share
		</div>
	</div>
</div>
<div class="row">
	<button class="btn waves-effect waves-light" ng-click="setChart(3)">Year
	</button>
	<button class="btn waves-effect waves-light" ng-click="setChart(2)">Month
	</button>
	<button class="btn waves-effect waves-light" ng-click="setChart(1)">Week
	</button>	
</div>
<div class="row">

<line-chart config='lineChart'>
</line-chart>

</br>
</br>
  <!-- detailed candlestick chart would be loaded here -->

<stock-chart config='stockChart'>
</stock-chart>

</br>
</br>

<div class="row">
    <div id="#buyBtn" class="col s2 light-green btn" ng-click="buyStock()">Buy</div>
    <div class = "input-field col s2">
   		<input id = "sharesBuy" type = "number" min ="1" class = "validate">
   		<label for = "sharesBuy">Shares</label>
    </div>
    <div class="col s1"></div>
    <div id="#sellBtn" class="col s2 red btn" ng-click="sellStock()">Sell</div>
    <div class = "input-field col s2">
   		<input id = "sharesSell" type = "number" min ="1" class = "validate">
   		<label for = "sharesSell">Shares</label>
    </div>
    <div class="col s3">
        <a id="#watchStock" ng-click="watchStock()" class="white-text"><i class="material-icons">star</i>Add to Watchlist</a>
    </div>
</div>
<div class="row">
    <!-- the ^ below refers to the parent of current state -->
    <!--{{stockReal.LastPrice}} -->
    <a ui-sref="^">Back to Market</a>
</div>
