  <!-- detailed candlestick chart would be loaded here -->
<div class="row">
    <div id="#buyBtn" class="col s2 green btn" ng-click="buyStock()">Buy</div>
    <div class="col s1"></div>
    <div id="#sellBtn" class="col s2 red btn" ng-click="sellStock()">Sell</div>
</div>
<div class="row">
    <a id="#watchStock"><i class="material-icons">star</i> Add to Watchlist</a>
</div>
<div class="row">
    <!-- the ^ below refers to the parent of current state -->
    <a ui-sref="^">Back to Market</a>
</div>


  