<!-- NAVIGATION -->
<div ui-view name="nav">
    <ul id="slide-out" class="side-nav fixed">
        <li ui-sref-active="active"><a ui-sref="live">Switch to Live Data</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.user">Profile</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.buy_sell">Market</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.portfolio">Portfolio</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.watch">Watchlist</a></li>
    </ul>
</div>
