<!-- NAVIGATION -->
<div ui-view name="nav">
    <ul id="slide-out" class="side-nav fixed">
        <li ui-sref-active="active"><a ui-sref="live" class="waves-effect waves-light">Switch to Live Data</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.user" class="waves-effect waves-light">Profile</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.buy_sell" class="waves-effect waves-light">Market</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.portfolio" class="waves-effect waves-light">Portfolio</a></li>
        <li ui-sref-active="active"><a ui-sref="historic.watch" class="waves-effect waves-light">Watchlist</a></li>
    </ul>
</div>
