<div ui-view name="content">
  <div style="padding-top: 150px">
    <h2>Welcome to Electron Trader</h2>
    <h3>You are currently in the <strong>historic</strong> testing envirionment.</h3>
    <div class = "row">
      <div class = "col s4">
        <h3>What is "Historic"?</h3>
        <p>Historic testing (AKA Backtesting):</p>
        <br/>
        <p>The process of applying a trading strategy or analytical method to historical data to see how accurately the strategy or method would have predicted actual results.</p>
      </div>
      <div class = "col s4">
      </div>
      <div class="col s4">
        <h3>How does our historic environment work?</h3>
        <p>Our historic environment will work similarly to our live environment, we will apply a set of investments over the range of dates that you select.</p>
        <p>
     </div>

      <div id="portfolioPopup" class="modal modal-fixed-footer">
        <div class="modal-content">
          <h5 class="white-text">You already have a portfolio in this environment. Would you like to continue or create a new one?</h5>
        </div>
        <div class="modal-footer">
          <a ng-click="createPortfolio()" class="modal-action modal-close waves-effect waves-green btn-flat teal ">Create New</a>
          <a class="modal-action modal-close waves-effect waves-green btn-flat teal ">Continue</a>
        </div>
      </div>         
  </div>
</div>
