<!-- NAVIGATION -->
<div ui-view name="nav">
    <ul id="slide-out" class="side-nav fixed">
        <li ui-sref-active="active"><a ui-sref="historic">Switch to Historic Data</a></li>
        <li ui-sref-active="active"><a ui-sref="live.user">Profile</a></li>
        <li ui-sref-active="active"><a ui-sref="live.buy_sell">Market</a></li>
        <li ui-sref-active="active"><a ui-sref="live.portfolio">Portfolio</a></li>
        <li ui-sref-active="active"><a ui-sref="live.watch">Watchlist</a></li>
    </ul>
</div>
