<div class="centered">
    <div id="historicData" style="text-align:center" class="selectScreen">
        <h1><img src="../images/electrontrader.png" /></h1>
        <a id="histBtn" ui-sref="historic" class="waves-effect waves-light btn-large z-depth-3" style="font-weight: bold">Historic Data</a>
        <td>
        </td>
        <div id="liveData" class="selectScreen">
            <a id="liveBtn" ui-sref="live" class="waves-effect waves-light btn-large z-depth-3" style="font-weight: bold">Live Data</a>
        </div>
    </div>
</div>
