<div ui-view name="content">
  <div ng-controller="BuySellController">
    <h2 style="color: white">Market</h2>
    <!-- <line-chart config="item"></line-chart>
    <line-chart config="item"></line-chart> -->
     <div class="collection">
        <a ng-repeat="stock in availableStocks | limitTo: 10" ng-Click="getStock(stock)" class="collection-item" ng-cloak>{{stock}}</a>
    </div>

     <!-- <ul class="pagination">
	    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
	    <li class="active"><a href="#!">1</a></li>
	    <li class="waves-effect"><a href="#!">2</a></li>
	    <li class="waves-effect"><a href="#!">3</a></li>
	    <li class="waves-effect"><a href="#!">4</a></li>
	    <li class="waves-effect"><a href="#!">5</a></li>
	    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  	</ul> -->
  	<!-- <tr ng-repeat="item in charts"> -->
   		<!-- <line-chart ng-repeat="item in charts" config='item'></line-chart> -->
  	<!-- </tr> -->
  </div>
</div>
