<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<link type="text/css" rel="stylesheet" href="../css/materialize.css" media="screen,projection" />
<link rel="stylesheet" type="text/css" href="../css/DateTimePicker.css" />
<html data-ng-app="stockApp" class="no-js">


<!-- Main screen with two selection options for testing -->

<body ng-controller="MainController">
    <div class="centered">
        <div id="historicData" ng-show="isSelectPage" style="text-align:center" class="selectScreen">
            <p>Welcome to Electron Trader</p>
            <h1 class="grey-text text-lighten-5">Select a testing strategy:</h1>
            <a id="histBtn" class="waves-effect waves-light btn green accent-4 btn-large z-depth-3">Historic Data</a>
            <td>
            </td>
            <div id="liveData" class="selectScreen">
                <a id="liveBtn" href="#home" ng-click="isSelectPage=false" class="green accent-4 btn-large z-depth-3">Live Data</a>
            </div>
        </div>
    </div>

    <!--modal - will appear if user selects Historic Data, prompting them to select date range -->
        <div id="myModal" class="modal z-depth-5">
          <!-- Modal content: invoking partial view  -->
          <!-- <div ng-include src="'./partialviews/selectorModal.html'"></div> -->
          <div class="modal-content">
              <h4>Select a date range:</h4>
              <!--whatever date picker we use will go here -->
              <!--  Date Input  -->
              <p>Start Date : </p>
              <input type="text" data-field="date" readonly>

              <!--  Time Input  -->
              <p>End Date : </p>
              <input type="text" data-field="date" readonly>


          <div id="dtBox"></div>
          </div>

          <div class="modal-footer">
              <span class="go">
                <button ng-click="isSelectPage=false" class="waves-effect waves-green btn green modal-action modal-close z-depth-2">Go</button>
              </span>
              <span class="close">
                <button class="waves-effect waves-red btn red modal-action modal-close z-depth-2">Return</button>
              </span>
          </div>
        </div>

    <!-- NAVIGATION -->
    <div ng-hide="isSelectPage">
        <ul id="slide-out" class="side-nav fixed">
            <li><a ui-sref="selector" ng-click="isSelectPage=true">Switch</a></li>
            <li><a ui-sref="user">User</a></li>
            <li><a ui-sref="buy_sell">Buy/Sell</a></li>
            <li><a ui-sref="portfolio">Portfolio</a></li>
            <li><a ui-sref="watch">Watch</a></li>
        </ul>
    </div>

    <div id="main">
        <!-- whatever will go on the home landing page goes here -->
        <div ui-view></div>
    </div>

    <!-- loading angular, jquery, materialize, and custom scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script type="text/javascript" src="../js/DateTimePicker.js"></script>
    <script src="../js/routing.js"></script>
    <script src="../db/Database.js"></script>
    <script src="../js/modal.js"></script>
    <script src="../js/MainController.js"></script>
    <script src="../js/HomeController.js"></script>
    <script src="../js/UserService.js"></script>
    <script src="../js/UserController.js"></script>
    <script src="../js/BuySellService.js"></script>
    <script src="../js/BuySellController.js"></script>
    <script src="../js/PortfolioService.js"></script>
    <script src="../js/PortfolioController.js"></script>
    <script src="../js/WatchService.js"></script>
    <script src="../js/WatchController.js"></script>

</body>

</html>
