<link rel="stylesheet" type="text/css" href="../css/navbar.css">
<html ng-app ="stockApp">

<head>

</head>

<body ng-controller="mainController">
        <div id="historicData" ng-show="isSelectPage">
            <button id="myBtn" class="btn btn-primary" >Historic Data</button>
          <div id="liveData">
            <button href="#home" ng-click="isSelectPage=false" class="btn btn-primary">Live Data</button>
          </div>
        </div>

        <div ng-hide="isSelectPage">
          <ul>
            <!-- The switch element goes back to Selection page -->
            <li><a href="#" ng-click="isSelectPage=true">Switch</a></li>
            <li><a href="#user">User</a></li>
            <li><a href="#buy_sell">Buy/Sell</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#watch">Watch</a></li>
          </ul>
        </div>

        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <!--put date here and save it somewhere -->
            <!-- <p>
              Please select a date range:
            </p> -->
            <span class="go" ng-click="isSelectPage=false"> Go </span>
            Please select a date range:
            <span class="close"> Close </span>
          </div>

        </div>

  <div id="main">
    <!-- this is where content will be injected -->
    <div ng-view></div>
  </div>


</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
<script src="../js/routing.js"></script>
<script src="../js/BuySellService.js"></script>
<script src="../js/BuySellController.js"></script>
<script src="../js/modal.js"></script>
