<title>Portfolio</title>
<div ui-view name="portfolioContent">
  <h2>My Portfolios</h2>
  </div>
</div>
    <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="portfolio in userPortfolios">
        <div class="collapsible-header teal-text"><i class="material-icons">work</i>{{"Portfolio " + portfolio.portfolio_Id}}</div>
        <div class="collapsible-body">
          <table class="grey">
            <thead>Transactions for Portfolio {{portfolio.portfolio_Id}}</thead>
            <tr>
              <th>Stock Name</th>
              <th>Transaction Date</th>
              <th>Stock Price</th>
              <th>Number of Shares</th>
            </tr>
            <tr ng-repeat="transaction in portfolioTransactions">
               <td>{{transaction.exchange_short_name}}</td>
               <td>{{transaction.trade_time | date: 'medium'}}</td>
               <td>{{transaction.stock_value | currency}}</td>
               <td>{{transaction.number_of_shares}}</td>
            </tr>
          </table>
        </div>
      </li>
    </ul>
