<title>Portfolio</title>
<div ui-view name="portfolioContent">
  <h2>My Portfolios</h2>
    <button class="waves-effect waves-light col s4 green btn" ng-click="createPortfolio()">Create {{portfolioState}} Portfolio</button>
  </div>
</div>
    <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="portfolio in userPortfolios">
        <div id = "{{portfolio.portfolioId}}" ng-Click = "portfolioButton()" class="collapsible-header teal-text"><i class="material-icons">work</i>{{"Portfolio " + portfolio.portfolioId}}</div>
        <div class="collapsible-body">
          <table class="white striped">
            <thead>
            <tr>
              <th>Transactions for Portfolio {{portfolio.portfolioId}}</th>
            </tr>
            <tr>
              <th>Date</th>
              <th>Stock Name</th>
              <th>Stock Price</th>
              <th>Number of Shares</th>
              <th>Total Price</th>
              <th>Balance</th>
            </tr>
            </thead>
            <tbody>
               <tr ng-repeat="transaction in portfolioTransactions">
                 <td>{{transaction.tradeTime.substr(4,11)}}</td>
                 <td>{{transaction.symbol}}</td>
                 <td>{{transaction.stockValue | currency}}</td>
                 <td>{{transaction.numberOfShares}}</td>
                 <!--show the total as red if bought, green if sold -->
                 <td ng-style="transaction.totalPrice < 0 ? { color: 'red' } : {color: 'green'}" >{{transaction.totalPrice | number}}</td>
                 <td>{{transaction.portfolioBalance | currency}}</td>
              </tr>  
            </tbody>
          </table>
        </div>
      </li>
    </ul>
