  <h2>My Watchlist</h2>
  <!--Show some content if nothing is watched yet -->
  <div ng-hide="usersWatchedStocks.length>0">
      <h2 class="orange-text">You aren't watching any stocks.</h2>
  </div>

  <div class="collection">
      <div class="row collection-item" ng-repeat="stock in currentWatch">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1" ng-show="stock.symbol">
            <div class="card-content white-text">
              <span class="card-title">{{stock.symbol}}</span>
            </div>
            <div class="card-action">
              <a ng-click="remove(stock)">Remove</a>
              <a ng-click="buy(stock)">Buy</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <p></p>
          <p ng-show="stock.dateWhenAdded">Added on {{stock.dateWhenAdded.substr(0,15)}}</p>
          <p ng-show="stock.priceWhenAdded">Price was <span class="orange-text">{{stock.priceWhenAdded | currency}}</span> when added </p>
          <p ng-if="checkPrice(stock) != 0 && checkPrice(stock)">result: {{ checkPrice(stock) }}  </p>
      <!--example of what would be displayed if the price has changed since adding to watch --> 
        </div>
      </div>
    </div>

     <div paging
      page="1"
      page-size="3"
      total="usersWatchedStocks.length"
      paging-action="callback(page)"
      show-prev-next="true">
    </div>
