  <h2>My Watchlist</h2>
<!--     <table>
      <thead>
        <tr class="teal-text">
          <th>Portfolio Id</th>
          <th>Stock Symbol</th>
          <th>Price when Added</th>
          <th>Started Watching</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stocks in usersWatchedStocks">
          <td class="white-text">{{stocks.portfolio_Id}}</td>
          <td class="white-text">{{stocks.symbol}}</td>
          <td class="white-text">{{stocks.price_when_added | currency}}</td>
          <td class="white-text">{{stocks.date_when_added | date: 'medium'}}</td>
      </tbody>
    </table> -->
      <div class="row" ng-repeat="stocks in usersWatchedStocks">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{stocks.symbol}}</span>
            </div>
            <div class="card-action">
              <a href="#">Remove</a>
              <a href="#">Buy</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
        <p>Added on {{stocks.dateWhenAdded | date: 'medium'}}</p>
        <p>Price was {{stocks.priceWhenAdded | currency}} when added</p>
        </div>
      </div>
